.checkbox {
  font-size: 18px;
  line-height: 1.67;

  color: #283645;
}

.checkbox--indicator {
  display: block;
  width: 35px;
  height: 35px;

  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}
