.contacts {
  text-align: center;
}

.contacts__wrapper {
  width: @mobile;
  margin: 0 auto;
}

.contacts__slogan {
  margin-bottom: 38px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 30px;

  list-style: none;
}

.contacts__item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  &:first-of-type {
    margin-bottom: 18px;
  }
}

.contacts__way {
  display: block;
  margin-bottom: 0;

  font-size: 18px;
  line-height: normal;
}

.contacts__adds {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 32px;

  color: #d22856;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__where {
  position: relative;

  margin-bottom: 0;
  height: 200px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;

    margin-left: -160px;

    width: 320px;
    height: 30px;

    background: url("../img/bg-triangle-white-footer.svg") no-repeat;
    background-position: 50%;
    background-size: contain;
  }
}

.contacts__map {
  display: block;
  height: 200px;
  width: 100vw;
}

.contacts__route {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;

  display: block;
  width: 320px;
  height: 200px;
  margin-left: -160px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-size: cover;
  background-position: 50% 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: @tablet) {
  .contacts__wrapper {
    box-sizing: border-box;
    width: @tablet;
    padding: 0 10px;
    margin-bottom: 8px;
  }

  .contacts__slogan {
    margin-bottom: 40px;
  }

  .contacts__list {
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;

    &:nth-of-type(2n) {
      margin-bottom: 45px;
    }
  }

  .contacts__way {
    line-height: 26px;
    margin-bottom: 5px;
  }

  .contacts__adds {
    line-height: 28px;
  }

  .contacts__where {
    height: 370px;

    &::before {
      width: 660px;
      height: 65px;
      margin-left: -330px;
    }
  }

  .contacts__map {
    display: block;
    height: 370px;
  }

  .contacts__route {
    display: block;
    width: 660px;
    height: 370px;
    margin-left: -330px;

    background: url("../img/bg-map-tablet@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% -320px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop) {
  .contacts {
    padding-top: 13px;
  }

  .contacts__wrapper {
    width: @desktop;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .contacts__slogan {
    line-height: 60px;

    margin-bottom: 56px;
  }

  .contacts__list {
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px;
  }

  .contacts__item {
    width: 30.5%;
  }

  .contacts__item:nth-of-type(2) {
    order: 3;
  }

  .contacts__item:nth-of-type(2n) {
    margin: 0;
  }

  .contacts__adds {
    display: block;
    margin-top: 23px;
  }

  .contacts__where {
    height: 485px;

    &::before {
      top: -1px;

      width: 960px;
      height: 90px;
      margin-left: -480px;
    }
  }

  .contacts__route {
    width: 960px;
    height: 485px;
    margin-left: -480px;

    background: url("../img/bg-map-desktop@1x.jpg") no-repeat;
    background-size: cover;
    background-position: 50% -215px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .contacts__map {
    height: 485px;
  }
}
