.copyright {
  display: flex;
}

.copyright__description {
  margin: 0;
  margin-right: 17px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

@media (min-width: @tablet) {
  .copyright {
    display: flex;
    margin-top: 12px;
    margin-left: auto;

    font-size: 14px;
  }

  .copyright__description {
    margin-right: 16px;
  }
}

@media (min-width: @desktop) {
  .copyright {
    margin-top: 10px;
    font-size: 18px;

    line-height: 18px;
  }

  .copyright__description {
    align-self: center;
    margin-top: -10px;
  }
}
