.copyright__description {
  margin: 0;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

@media (min-width: @tablet) {
  .copyright {
    display: flex;

    font-size: 18px;
  }

  .copyright__description {
    margin-right: 14px;
  }
}
