.download-app {
  box-sizing: border-box;

  display: block;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;

  background-color: #1d2631;

  color: #ffffff;
}

.download-app__slogan {
  display: none;
}

.download-app__button {
  margin: 0 auto;
  margin-bottom: 31px;
}

.download-app__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.download-app__link {
  display: block;
}

.download-app__link--ios {
  width: 47px;
  height: 56px;
  margin-right: 34px;

  background: url("../img/logo-apple.svg") no-repeat;
}

.download-app__link--android {
  width: 43px;
  height: 47px;
  margin-right: 37px;

  background: url("../img/logo-android.svg") no-repeat;
}

.download-app__link--windows {
  width: 44px;
  height: 41px;

  background: url("../img/logo-microsoft.svg") no-repeat;
}

.download-app__description {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: @tablet) {
  .download-app {
    position: relative;
    z-index: 2;

    box-sizing: border-box;
    width: @tablet;
    padding-bottom: 0;
    padding-top: 25px;

    font-size: 18px;
    line-height: 1.33;

    background-color: transparent;
    text-align: center;
  }

  .download-app__wrapper {
    width: 300px;
  }

  .download-app__slogan {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 40px;
    font-weight: 300;
    line-height: 50px;

    text-align: center;
  }

  .download-app__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .download-app__list {
    margin-bottom: 38px;
  }

  .download-app__description {
    width: 100%;
  }
}

@media (min-width: @desktop) {
  .download-app {
    width: @desktop;
    margin: @center;
    padding: 0;
    padding-top: 8px;
  }

  .download-app__wrapper {
    width: 300px;
  }

  .download-app__slogan {
    width: 100%;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 52px;
  }

  .download-app__button {
    margin-bottom: 65px;

    font-size: 21px;
  }

  .download-app__list {
    margin-bottom: 55px;
  }
}
