.effect {
  display: none;
}

@media (min-width: @tablet) {
  .effect {
    display: block;
    margin-bottom: 95px;
  }

  .effect__wrapper {
    box-sizing: border-box;
    width: @tablet;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .effect__img {
    position: relative;

    box-sizing: border-box;
    width: 238px;
    height: 276px;
    flex-shrink: 0;
    padding-top: 75px;

    font-size: 96px;
    font-weight: bold;
    line-height: 150px;
    color: #d22856;
    text-align: center;

    background: url("../img/icon-timer.svg") no-repeat;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      box-sizing: border-box;
      width: 202px;
      height: 202px;
      margin-left: -100px;
      margin-top: -83px;

      border: 13px solid #d22856;
      border-radius: 50%;
    }
  }

  .effect__description {
    align-self: center;
    width: 50%;
    padding-top: 10px;

    line-height: 24px;
  }

  .effect__headline {
    display: block;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__text {
    margin: 0;
    margin-bottom: 10px;
  }

  .effect__link {
    color: #d22856;
    line-height: inherit;
  }
}

@media (min-width: @desktop) {
  .effect {
    padding-top: 65px;
    padding-bottom: 67px;
    margin-bottom: 72px;

    background-color: #f2f2f2;
  }

  .effect__wrapper {
    width: @desktop;
    padding: 0 10px;
  }

  .effect__img {
    width: 298px;
    height: 345px;
    padding-top: 95px;
    margin-right: 67px;

    font-size: 120px;
    line-height: 187px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      box-sizing: border-box;
      width: 253px;
      height: 253px;
      margin-left: -127px;
      margin-top: -102px;

      border: 16px solid #d22856;
      border-radius: 50%;
    }
  }

  .effect__description {
    width: auto;
    padding-top: 47px;
  }

  .effect__headline {
    margin-bottom: 23px;
  }

  .effect__headline br {
    display: none;
  }

  .effect__text {
    margin-bottom: 36px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
  }
}
