.features {
  margin-bottom: 45px;
  padding-top: 18px;

  text-align: center;
}

.features__wrapper {
  padding: 0 30px;

  background-color: #f2f2f2;
}

.features__list {
  display: block;
  margin: 0;
  margin-top: 110px;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.features__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.features__image {
  display: none;
}

.features__image--hello {
  display: block;
  width: 157px;
  height: 280px;
  margin: 0 auto;
  margin-top: 40px;
  order: 2;

  background-color: lime;
}

.features__headline {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1.33;
}

.features__description {
  margin: 0;

  line-height: 1.71;
}

@media (min-width: @tablet) {
  .features {
    padding-top: 50px;
    margin-bottom: 59px;
  }

  .features__slogan {
    margin: 0;
  }

  .features__slogan:last-of-type {
    margin-bottom: 40px;
  }

  .features__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  .features__wrapper--slogan {
    display: block;
    padding-top: 0;

    background-color: transparent;
  }

  .features__list {
    width: 100%;
    text-align: left;
  }

  .features__item {
    width: 50%;
    margin-left: auto;
  }

  .features__image--hello {
    position: absolute;
    bottom: 0;
    left: 20px;

    width: 268px;
    height: 480px;
  }
}

@media (min-width: @desktop) {
  .features {
    margin-bottom: 0;
  }

  .features__wrapper {
    padding: 0;
  }

  .features__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    position: relative;

    flex-shrink: 0;
    width: 33%;
    box-sizing: border-box;
    padding: 0 30px;

    text-align: center;
  }

  .features__image {
    position: relative;

    display: block;
    width: 186px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;

    background-color: lime;
  }

  .features__image--hello {
    order: 0;
  }

  .features__headline {
    display: block;
    margin-bottom: 20px;

    font-size: 30px;
  }

  .features__description {
    font-size: 18px;
  }
}
