.feedbacks {
  box-sizing: border-box;
  width: 320px;
  padding: 0 22px;
  margin: 0 auto;
  margin-bottom: 38px;

  text-align: center;
}

.feedback {
  display: none;
  margin-bottom: 35px;
}

.feedback__name {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 30px;
}

.feedback__bio {
  display: none;
}

.feedback__review {
  margin: 0;

  line-height: 30px;
}

@media (min-width: @tablet) {
  .feedbacks {
    width: @tablet;
    margin-bottom: 20px;
  }

  .feedback {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .feedback__person {
    order: 2;
    line-height: 30px;
  }

  .feedback__name {
    margin: 0;
    margin-bottom: 3px;

    font-size: 20px;
    line-height: 30px;
  }

  .feedback__bio {
    display: inline;
    vertical-align: top;
  }

  .feedback__review {
    margin-bottom: 36px;

    font-size: 18px;
  }
}

@media (min-width: @desktop) {
  .feedbacks {
    position: relative;

    width: @desktop;
    padding: 0 10px;
    padding-top: 115px;
    padding-bottom: 15px;
    margin-bottom: 32px;
  }

  .feedbacks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -38px;

    width: 79px;
    height: 64px;

    background: url("../img/icon-quotes.svg") no-repeat;
    background-size: contain;
    opacity: 0.07;
  }

  .feedback {
    width: 690px;
    margin: 0 auto;
  }

  .feedback__name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 3px;
  }

  .feedback__bio {
    font-size: 18px;
  }

  .feedback__review {
    margin-bottom: 36px;
  }
}
