.form__info {
  display: block;
  margin: 0;
  padding-top: 40px;

  text-align: center;
}

.form__fieldset {
  padding: 0;
  padding-top: 32px;
  padding-bottom: 44px;

  border: none;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__fieldset:nth-child(2n) {
  background-color: #f2f2f2;
}

.form__legend {
  display: block;
  padding: 0 25px;
  margin-bottom: 15px;

  text-align: center;
  color: #d22856;
  text-transform: uppercase;
  line-height: 1.29;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:last-of-type {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;

  text-transform: uppercase;
  color: #d22856;
}

.form__input {
  box-sizing: border-box;
  width: 276px;
  padding: 15px 20px;

  font-size: 18px;
  line-height: 1.67;

  border: solid 2px #e5e5e5;
  border-radius: 3px;
  color: #283645;
}

.form__list {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.form__textarea {
  box-sizing: border-box;
  width: 276px;
  height: 197px;
  padding: 23px 20px;
  margin: 0;


  font-size: 18px;
  font-family: inherit;
  line-height: 1.67;
  color: #000000;

  border: solid 2px #e5e5e5;
  resize: none;
}

.form__footer {
  display: block;
  margin-top: 30px;

  text-align: center;
  text-transform: uppercase;
  line-height: 2.14;

  color: #283645;
}
