.form__wrapper {
  padding: 0 20px;
}

.form__info {
  display: block;
  margin: 0;
  padding: 0 20px;
  padding-top: 40px;

  text-align: center;
}

.form__fill {
  display: none;
}

.form__fieldset {
  position: relative;
  padding: 0;
  padding-top: 73px;
  padding-bottom: 44px;

  border: none;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__fieldset:nth-child(2n) {
  background-color: #f2f2f2;
}

.form__fieldset--contacts .form__legend {
  display: none;
}

.form__legend {
  position: absolute;
  top: 40px;
  left: 50%;

  display: block;
  width: 220px;
  margin: 0 auto;
  margin-left: -110px;
  margin-bottom: 15px;

  text-align: center;
  color: #d22856;
  text-transform: uppercase;
  line-height: 1.29;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:last-of-type {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;

  text-transform: uppercase;
  color: #d22856;
}

.form__input {
  box-sizing: border-box;
  width: 276px;
  padding: 15px 20px;

  font-size: 18px;
  line-height: 1.67;

  border: solid 2px #e5e5e5;
  border-radius: 3px;
  color: #283645;
}

.form__list {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.form__textarea {
  box-sizing: border-box;
  width: 276px;
  height: 197px;
  padding: 23px 20px;
  margin: 0;


  font-size: 18px;
  font-family: inherit;
  line-height: 1.67;
  color: #000000;

  border: solid 2px #e5e5e5;
  resize: none;
}

.form__desc {
  display: block;
  margin-top: 30px;

  text-align: center;
  text-transform: uppercase;
  line-height: 2.14;

  color: #283645;
}

.form__min {
  display: none;
}

@media (min-width: @tablet) {
  .form {
    padding: 0 20px;
  }

  .form__wrapper {
    margin: 0;
    padding: 0 40px;
  }

  .form__info {
    margin-top: 90px;
    margin-bottom: 70px;
    padding: 0 65px;

    font-size: 18px;
    line-height: 30px;
  }

  .form__fill {
    display: block;
  }

  .form__body {
    display: flex;
    flex-direction: column;
  }

  .form__fieldset {
    padding: 0;
    padding-bottom: 56px;
    padding-top: 53px;
    margin-bottom: 60px;

    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }

  .form__fieldset:nth-of-type(2n) {
    background-color: transparent;
  }

  .form__fieldset--name {
    border: none;
    order: 1;
  }

  .form__fieldset--achievements {
    order: 4;
  }

  .form__fieldset--app {
    order: 2;
  }

  .form__fieldset--feedback {
    order: 5;
  }

  .form__legend {
    position: relative;
    top: auto;
    left: auto;

    width: auto;
    margin: 0;
    padding: 0 30px;
  }

  .form__field {
    display: flex;
    align-items: center;
  }

  .form__input {
    width: 100%;
  }

  .form__fieldset--name .form__wrapper {
    padding: 0;
  }

  .form__fieldset--name .form__label {
    margin-right: 22px;
  }

  .form__fieldset--contacts {
    order: 3;

    .form__field {
      display: flex;
      flex-direction: column;
    }

    .form__legend {
      display: block;
    }

    .form__label {
      order: 2;
      margin-right: auto;
    }
  }

  .form__textarea {
    width: 100%;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    order: 6;
  }

  .form__button {
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .form {
    padding: 0 130px;
  }

  .form__body {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__fieldset {
    flex-shrink: 0;
    width: 100%;
  }

  .form__fieldset--name {
    width: 435px;
  }

  .form__fieldset--app {
    width: 430px;
    margin-left: auto;
  }

  .form__fieldset--contacts {
    box-sizing: border-box;
    padding-bottom: 10px;

    .form__wrapper {
      display: flex;
      padding-left: 60px;
      padding-right: 60px;
      flex-direction: row;
      justify-content: space-between;
    }

    .form__field {
      width: 371px;
    }
  }

  .form__fieldset--achievements {
    .form__list {
      display: flex;
      flex-direction: row;
    }
  }

  .form__footer {
    width: 100%;
  }

  .form__min {
    display: inline;
  }

  .form__desc {
    margin-left: auto;
  }
}
