.main-header {
  position: relative;
  z-index: 2;

  display: block;
  margin-bottom: -66px;

  background-color: #283645;
}

.main-header--nav-hidden {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__button--nav-hidden {
  display: none;
}

@media (min-width: @desktop) {
  .main-header {
    display: flex;
    padding: 0 250px;
    padding-top: 27px;
    padding-bottom: 25px;
    margin-bottom: -110px;
  }

  .main-header--inner {
    padding: 40px 129px;
  }

  .main-header__button {
    display: none;
  }
}
