.main-header {
  position: relative;
  z-index: 2;

  display: block;
  margin-bottom: -66px;

  background-color: #283645;
}

.main-header--nav-hidden {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__button--nav-hidden {
  display: none;
}

@media (min-width: @tablet) {
  .main-header__container {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: @desktop) {
  .main-header {
    margin-bottom: -110px;
  }

  .main-header__container {
    display: flex;
    justify-content: space-between;
    width: @desktop;
    padding: 0 10px;
  }

  .main-header__button {
    display: none;
  }
}
