.page-name {
  position: relative;

  padding: 0 46px;
  padding-top: 84px;
  padding-bottom: 64px;

  text-align: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-color: #000000;
}

.page-name--index {
  padding: 0;
  padding-top: 160px;
}

.page-name__image {
  display: block;
  padding: 0;
  margin: 0;
}

.page-name__headline {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;

  color: #ffffff;
}

@media (min-width: @tablet) {
  .page-name--index {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-top: 185px;
    padding-bottom: 100px;
  }

  .page-name__image {
    position: absolute;
    bottom: 0;
    right: 40px;
    order: 2;
  }

  .page-name__headline {
    font-size: 50px;
  }
}

@media (min-width: @desktop) {
  .page-name {
    padding: 0 400px;
    padding-top: 180px;
    padding-bottom: 100px;
  }

  .page-name--index {
    padding: 0 250px;
    padding-top: 210px;
    padding-bottom: 115px;
  }

  .page-name__image {
    right: 250px;
  }
}
