.page-name {
  position: relative;

  padding: 0 46px;
  padding-top: 84px;
  padding-bottom: 64px;

  text-align: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-color: #1d2631;
}

.page-name br {
  display: none;
}

.page-name--index {
  padding: 0;
  padding-top: 179px;
}

.page-name__container {
  width: @mobile;
  margin: 0 auto;
}

.page-name__image {
  display: block;
  padding: 0;
  margin: 0;
}

.page-name__headline {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;

  color: #ffffff;
}

@media (min-width: @tablet) {
  .page-name {
    padding-top: 63px;
    padding-bottom: 65px;
  }

  .page-name--index {
    display: flex;
    justify-content: space-between;
    padding-top: 174px;
    padding-bottom: 110px;
  }

  .page-name__image {
    position: absolute;
    bottom: -110px;
    right: 20px;
    order: 2;
  }

  .page-name__headline {
    font-size: 50px;
  }

  .page-name__container {
    position: relative;

    box-sizing: border-box;
    width: @tablet;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: @desktop) {
  .page-name {
    padding-top: 180px;
    padding-bottom: 100px;
    margin-bottom: 20px;
  }

  .page-name__container {
    box-sizing: border-box;
    width: @desktop;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-name br {
    display: block;
  }

  .page-name--index {
    padding-top: 210px;
    padding-bottom: 122px;
  }

  .page-name__image {
    right: 45px;
  }
}
