.popup {
  display: none;
  width: @mobile;
  padding-top: 40px;

  text-align: center;

  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup--display {
  display: block;
}

.popup__wrapper {
  width: 280px;
  margin: 0 auto;
}

.popup__name {
  display: block;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
}

.popup__description {
  display: block;
  margin: 0;
  margin-bottom: 40px;
}

.popup__area {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 1px;
  background-color: #f2f2f2;
}

.popup__button {
  margin-bottom: 54px;
}
