.post {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.post__image {
  margin-bottom: 40px;
}

.post__edit {
  padding-bottom: 28px;
}

.post__range {
  margin-top: 30px;
}

.post__buttons {
  padding: 40px 20px;
  border-top: 1px solid #dddfe0;
}

.post__upload {
  margin-bottom: 12px;
}
