.slider__prev,
.slider__next {
  display: none;
}

.slider__slide {
  margin-bottom: 45px;
}

.slider__slide--current {
  display: block;
}

.slider__toggles {
  text-align: center;
}

.slider__wrapper {
  display: flex;
  transform: translateX(-50%);
  margin-left: -20%;
  transition: transform 0.5s ease;
}

@media (min-width: @tablet) {
  .slider__slide--current {
    display: flex;
    flex-direction: column;
  }

  .slider__wrapper {
    transform: none;
    margin-left: 0;
    transition: none;
  }

  .subscriptions .slider__toggles {
    display: none;
  }
}

@media (min-width: @desktop) {
  .slider__prev,
  .slider__next {
    position: absolute;
    top: 50%;

    display: block;
    width: 22px;
    height: 41px;
  }

  .slider__prev {
    left: 250px;
  }

  .slider__next {
    right: 250px;
  }

  .slider__toggles {
    display: none;
  }
}
