.subscriptions {
  padding-top: 125px;
  padding-bottom: 50px;

  text-transform: uppercase;
  background-color: #f2f2f2;
}

.subscription__header {
  box-sizing: border-box;
  width: 276px;
  margin: 0 auto;
  padding: 15px 0;

  background-color: #283645;
  border: solid 2px #e5e5e5;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  text-align: center;
}

.subscription__name {
  font-size: 18px;
  line-height: 1.67;
}

.subscription__price {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 1.25;
}

.subscription__contain {
  margin: 0 auto;

  background-color: #ffffff;
  border-collapse: collapse;
  border: solid 2px #e5e5e5;
}

.subscription__description {
  width: 160px;
  padding: 10px 20px;

  line-height: 2.14;
  color: #283645;

  border: solid 2px #e5e5e5;
  border-right: none;
}

.subscription__term {
  width: 30px;
  padding: 20px;

  border: solid 2px #e5e5e5;
  border-left: none;
}

.subscription__term--include {
  background: url("../img/icon-yes.svg") no-repeat;
}

.subscription__term--exclude {
  background: url("../img/icon-no.svg") no-repeat;
}
